@use "preloader";
@use "pages";
@use "./design/menu";
@use "video";
@use "./design/pages_responsive";
@use "forms";
@use "post";
@use "./dashboard/form";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$black: #110c08;
$white: #0fa098;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	color: $black;
}

body {
	width: 100%;
	height: 100vh;
	overflow-y: visible;
}

#root {
	width: 100%;
	height: 100%;
}
